.cart-item {
    display: flex;
}

.cart-item-wrapper {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cfcfcf;
}

.cart-item-details {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}

.cart-final-column {
    margin-left: auto;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qty-box {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.cart-item-qty {
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 10px;
}

.qty-box button {
    width: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    background-color: #fff;
}

.qty-box button {
    font-size: 1rem;
}

.qty-box button:hover {
    cursor: pointer;
}

.qty-box p {
    width: 20px;
    text-align: center;
}

#delete-button {
    background-image: url(../resources/images/bin.png);
    background-position: center;
    background-size: cover;
    height: 1.2rem;
    width: 1.2rem;
    border: none;
    margin-bottom: 20px;
    margin-left: 15px;
}

#delete-button:hover {
    cursor: pointer;
}

.cart-item-name {
    margin-right: 50px;
}

@media only screen and (max-width: 766px) {
    .cart-final-column {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 463px) {
    .cart-image {
        width: 130px;
        height: auto;
    }
}

@media only screen and (max-width: 415px) {
    .cart-image {
        width: 110px;
        height: 130px;
    }

    .cart-item-name {
        width: 80%;
    }

    .cart-item-details {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0px 10px 0px;
        width: 200px;
    }
}

