.homepage-container {
    width: 100%;
    height: 92vh;

    background-image: url('../resources/images/homebackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    color: white;
}

.home-button {
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: lighter;
    border: 2px solid #E7B27A;
    padding: 10px 24px;
    background-color: rgb(51, 51, 51, 0.7);
    color: #E7B27A;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
    margin: 5px;
    width: 300px;
}

.home-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.25s;
}

.home-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.25s;
}

.home-button:hover span {
    padding-right: 25px;
}

.home-button:hover span:after {
    opacity: 1;
    right: 0;
}

.all-products-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.other-tiles {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

.sub-tile {
    height: 100%;
    min-width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-tile:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    transition: 0.3s;
}

.boots-tile {
    background-image: url('../resources/images/boots-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.footballs-tile {
    background-image: url('../resources/images/football-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kits-tile {
    background-image: url('../resources/images/kit-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.all-products-tile:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    transition: 0.3s;
}

.all-products-tile:not(:hover) {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.0);
    transition: 0.3s;
}

.sub-tile:not(:hover) {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.0);
    transition: 0.3s;
}


@media only screen and (max-width: 961px) {
    .home-button {
        width: fit-content;
        min-width: 200px;
    }
}